In [9]:
#importing pandas 
import pandas as pd

In [10]:
# pandas - creating a series using a list
series_int = pd.Series([1,2,3,4,5,6,7,8,9,10])
print(series_int)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
#creating two lists and indexing each other in parallel
countries = ['India', 'USA', 'Japan', 'Russia', 'China']
leaders = ['Narendra Modi', 'Donald Trump', 'Shinzo Abe', 'Vladimir Putin', 'Xi Jinpin']
countries_df = pd.Series(countries)
print(countries_df)

0     India
1       USA
2     Japan
3    Russia
4     China
dtype: object

In [12]:
#printing the data
y = pd.Series(countries,index = leaders)
print(y)

Narendra Modi      India
Donald Trump         USA
Shinzo Abe         Japan
Vladimir Putin    Russia
Xi Jinpin          China
dtype: object

In [21]:
stocks_set1 = ['Alphabet', 'IBM', 'Tesla', 'Infosys']
stocks_set2 = ['Alphabet', 'Facebook', 'Tesla', 'Infosys']
s = pd.Series([100,200,300,500],index = stocks_set1)
s1 = pd.Series([200,300,600,100],index = stocks_set2)
#print(s,"\n")
#print(s1,"\n")
print(s,"\n",s1,"\n")
print(s+s1,"\n")

Alphabet    100
IBM         200
Tesla       300
Infosys     500
dtype: int64
 Alphabet    200
Facebook    300
Tesla       600
Infosys     100
dtype: int64

Alphabet    300.0
Facebook      NaN
IBM           NaN
Infosys     600.0
Tesla       900.0
dtype: float64